.login-container {
  height: 582px;
  margin: auto;
  /* margin: 0 710px 0 710px; */
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 64px 15px 0 15px;
}

.login-verify {
  width: 352px;
  padding: 0px 15px;
}

.login-block {
  width: 100%;
}
.login-block h1 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 36px;
}

.login-block p {
  margin-bottom: 24px;
  font-weight: 400;
}

.form-send {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.custom-phone-input {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.button-login button1 {
  background-color: #325343;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 7px;
  /* line-height: 1.25; */
  color: white;
  width: 218px;
}

.button-login p {
  color: #325343;
  font-weight: 600;
  margin-top: 40px;
  cursor: pointer;
}

.button-login span {
  width: 100%;
  font-weight: 300;
}
.button-login button {
  margin-top: 12px;
  padding: 12px 24px;
  width: 218px;
  height: 45px;
}
